.comment-create {
    margin-bottom: 1rem;
}

.post-form {
    margin: .7rem;
}

.card {
    margin: 3.2rem;
    padding-bottom: 1.5rem;
}

.comment-input {
    width: 75%;
    position: relative;
    left: 13%;
    margin-bottom: .5rem;
}

.comment-submit {
    width: 70%;
    position: relative;
    margin-bottom: .5rem;
}
.card {
    background-color: #313335;
}